﻿@model IEnumerable<Product>
<div class="row featured__filter" id="MixItUp86281F">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
            <div class="featured__item">
                <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg" style="background-image: url(&quot;img/featured/feature-1.jpg&quot;);">
                    <ul class="featured__item__pic__hover">
                        <li><a asp-controller="Cart" asp-action="AddShopingCart" asp-route-id="@item.ProductId"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a href="index.html#">@item.ProductName</a></h6>
                    <h5>@item.Price</h5>
                </div>
            </div>
        </div>
    }
</div>
