﻿@model Market.Models.Product

@{
    ViewData["Title"] = "Sửa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
<div class="page-header">
    <h2 class="header-title" style="font-size: 24px">Sửa sản phẩm</h2>
    
</div>
<div class="tab-content m-t-15">
    <div class="tab-pane fade show active" id="product-edit-basic">
        <div class="card">
            <div class="card-body">
                
                <form method="post" asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ProductId" />

                    <div class="form-group">
                        <label asp-for="ProductName" class="control-label"></label>
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Unit" class="control-label"></label>
                        <input asp-for="Unit" class="form-control" />
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupplierId" class="control-label"></label>
                        <select asp-for="SupplierId" class="form-control" asp-items="@ViewBag.SupplierId"></select>
                        <span asp-validation-for="SupplierId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryId"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Img">Hình ảnh</label>
                        <div>
                            <img asp-for="Img" id="pictureUpload" src="@Url.Content("~/img/product/" + Model.Img)" style="height: 100px; width: 100px; margin: 10px;" />
                            <div class="input-group">
                                <input asp-for="Img" readonly type="text" id="pictureName" name="Img" class="form-control col-sm-6" value="@Model.Img" placeholder="(Chưa có ảnh sản phẩm)"/>
                                <button type="button" id="btnUpload" class="btn btn-success m-l-5">Chọn ảnh mới</button>
                            </div>
                            
                            <input type="file" id="fileUpload" name="picture" accept="image/*" style="display: none;" />
                        </div>
                        
                    </div>

                    <div class="form-group">
                            <label asp-for="Detail" class="control-label"></label>
                            <textarea asp-for="Detail" class="form-control"></textarea>
                            <span asp-validation-for="Detail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-control" asp-items="@ViewBag.Status"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-default " asp-area="Admin" asp-controller="Products" asp-action="Index">
                            <i class="anticon anticon-arrow-left"></i>
                            <span>Thoát</span>
                        </a>
                        @* <input type="submit" value="Save" class="btn btn-primary" /> *@
                        <button type="submit" class="btn btn-success m-l-20" asp-area="Admin" asp-controller="Products" asp-action="Edit">
                            <i class=" anticon anticon-save"></i>
                            <span>Lưu</span>
                        </button>
                        
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    
    
</div>

@section upload {
    <script>
        $(function () {
            $("#btnUpload").click(function () {
                
                $("#fileUpload").click();
            });
            // Xử lý sự kiện khi người dùng chọn tệp hình ảnh
            $("#fileUpload").change(function () {
                var file = $("#fileUpload").get(0).files[0]; 
                var reader = new FileReader(); 

                reader.onload = function (e) {
                    $("img#pictureUpload").attr("src", e.target.result) 

                    // Cập nhật giá trị của input[type=text] với đường dẫn tệp ảnh
                    $("#pictureName").val(file.name);
                        
                };

                reader.readAsDataURL(file); 
            });
        });
    </script>
}

